/* Start Global Rules */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #2c3639;
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #0f0e0e;
  --main-color: #ffff;
}

.d-none {
  display: none;
}
/* End Global Rules */

/* Start Styling Header */
header {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid rgb(135, 131, 131);
}

.header-logo {
  width: 300px;
  margin-bottom: 15px;
  cursor: pointer;
}

#search_field {
  all: unset;
  width: 300px;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: #0f0e0e;
}
/* End Styling Header */

/* Start styling Pokemon Container Section */
#pokemon_container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
}

.pokemon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 210px;
  padding: 15px;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  transition: all 225ms ease-in-out;
}

.pokemon:hover {
  transition: all 225ms ease-in-out;
  transform: translateY(10px);
}

.pokemon-img-container {
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: #ffff;
}
.pokemon-img {
  width: 120px;
  object-fit: cover;
}

.pokemon-id {
  font-weight: bold;
}

.pokemon-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.pokemon-name {
  margin-top: 5px;
}

.scroll-btn{
  position: fixed;
  right: 10px;
  bottom: 30px;
  cursor: pointer;
 animation: myAnim 4s ease-in-out;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
/* End styling Pokemon Container Section */

/* Start styling Pokemon Popup */
.pokemon-popup {
  width: 60%;
  height: 600px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  animation: popup 0.8s ease-in-out;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pokemon-popup {
  position: relative;
  width: 400px;
  height: auto;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  height: 30px;
  right: 15px;
  top: 10px;
}

.pokemon-image-container {
  background-color: #91eeea;
  padding: 50px;
  display: flex;
  justify-content: center;
  height: 50%;
}

.pokemon-image {
  height: 200px;
}

.pokemon-data {
  background-color: #293462;
  height: 50%;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 40px 0 0;
  padding: 10px;
}

.pokemon-data > span {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #eb3565;
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 15px;
  width: 60%;
  border-radius: 8px;
}
/* End styling Pokemon Popup */

 /* Start Media Queries */
@media screen and (max-width: 480px) {
  .header-logo{
    width: 200px;
  }

  .pokemon-popup {
    width: 90%;
  }

  .search-field{
    width: 200px !important;
  }
}
/* End Media Queries */